/* Normal desktop :1200px. */
@media only screen and (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .header-search .btn {
        padding: 15px 25px;
    }
    .main-nav ul li {
        
        margin-left: 25px;
        
    }
   
    .slider-active .single-slide .single-wrapper h1 {
        line-height: 70px;
        font-size: 60px;
    }
    .about-img img {
        width: 100%;
    }
    .about-wrapper h2 {
        line-height: 40px;
      
        font-size: 28px;
    }
    .about-wrapper h2::after {
      
        top: 84px;
    }

    .about-wrapper p {
        margin-top: 20px;
    }
    .about-wrapper .btn {
       
        margin-top: 6px;
    }
    #testimonial-area {
       
        padding: 80px 0px;
        
    }
    

   
}

 
/* Tablet desktop :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #main-header {
        padding: 0px 26px;
      
    }
    .main-nav ul li {
      margin-left: 20px;
   
    }
    .slider-active .single-slide .single-wrapper h1 {
        line-height: 50px;
        font-size: 40px;
        margin-top: 10px;
    }
    .feathers-inner .feathers-wrapper {
    
        padding: 35px 10px;
     
    }
    .feathers-inner .feathers-wrapper h3 {
        margin-top: 20px;
      
    }
    .feathers-inner .feathers-wrapper p {
        margin-top: 20px;
        font-size: 14px;
    }
    #feathers-area {
     
        margin-top: 40px;
    }
    .about-img img {
        width: 100%;
    }
    .about-wrapper h2 {
        line-height: 30px;
      
        font-size: 20px;
    }
    .about-wrapper h2::after {
       
        top: 62px;
    }
    .about-wrapper p {
        margin-top: 15px;
        line-height: 20px;
    }
    .about-wrapper .btn {
        padding: 15px 30px;
        margin-top: 0px;
    }
    .subscribe-form form input {
        padding: 15px 20px;
     
        width: 23%;
       
        margin: 0px 6px;
       
    }
    .subscribe-form form button .btn {
        padding: 18px 40px;
    }
    #portfolio-area .portfolio-wrapper {
      
        margin-bottom: 30px;
    }
    #portfolio-area {
        padding: 80px 0px 50px 0px;
    }
    .pricing-wrapper .pricing-inner {
      
        padding: 15px 0px;
    
        margin: 0px 0px;
    }
    .pricing-wrapper .pricing-inner ul {
        margin-top: 5px;
    }
    .pricing-wrapper .pricing-inner .btn {
     
        margin-top: 15px;
    }
    .pricing-wrapper .pricing-inner span {
      
        margin-top: 20px;
    
    }
    .team-wrapper {
       
        margin: 25px 0px;
    }
    #blog-area {
        padding: 55px 0px 80px 0px;
    }
    .blog-wrapper .card .card-body .card-title {
        margin-top: 10px;
        line-height: 25px;
        font-size: 20px;
    }
    .blog-wrapper .card .card-body .card-subtitle {
        margin-top: 8px;
        
    }
    .blog-wrapper .card .card-body .card-text {
        margin-top: 10px;
        line-height: 22px;
    }
    .blog-wrapper .card .card-footer .btn {
        padding: 16px 25px;
    }
    .blog-wrapper {
        box-shadow: 0px 0px 3px gray;
    }
    .blog-wrapper .card .card-body {
        padding: 5px 5px;
    }
    .blog-wrapper .card .card-footer {
   
        padding: 0px 0px 9px 5px;
   
    }
    #testimonial-area {

        padding: 60px 0px;
        
    }
    .testimonial-active {
     
        padding: 40px 100px 40px 100px;
      
    }
    #client-area {
        padding: 50px 0px;
    }
    .footer-contact {
        padding-left: 20px;
    }
    .footer-blog .footer-inner .footer-content {
       
        padding: 0px 29px;
    }
    .footer-blog .footer-inner .footer-content p {
       
        line-height: 20px;
    }
   


}

 


 
/* Large Mobile :480px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .slider-active .single-slide .single-wrapper h1 {
        line-height: 40px;
        font-size: 30px;
    }
    .single-wrapper {
        text-align: center;
        margin-top: 0px;
    }
     .main-nav {
        display:none;
    }

     .slicknav_menu {
        display:block;
    }
    #feathers-area {
     
        margin-top: 50px;
    }
    .feathers-inner .feathers-wrapper {
      
        padding: 40px 60px;
        border-left: none;
    
    }
  
    .border-bottom{
        border-bottom: 2px solid white;
    }
    #about-area {
        padding: 50px 0px;
    }
    .about-img img {
        width: 100%;
    }
    .about-wrapper h2 {
        line-height: 30px;
    
        font-size: 20px;
    }
    .about-wrapper h2::after {
     
        top: 38px;
    }
    .about-wrapper p {
        margin-top: 25px;
    }
    .about-wrapper .btn {
     
        margin-top: 15px;
    }
    .about-wrapper {
        padding: 0px 25px;
    }
    .about-img {
        margin-top: 30px;
    }
    .about-title h2 {
        line-height: 30px;
        font-size: 20px;
    }
    .subscribe-form form {
       
        flex-direction: column;
    }
    .subscribe-form form input {
     
        width: 50%;
        margin: 13px auto;
    }
    .subscribe-form {
        margin-top: 30px;
    }
    .subscribe-form form button {
      
        margin-top: 15px;
    }
    #portfolio-area .portfolio-wrapper {
       
        margin-bottom: 30px;
    }
    .pricing-wrapper .pricing-inner {
       
        margin-bottom: 30px;
    }
    .counter-wrapper {
       
        margin-bottom: 30px;
    }
    .team-wrapper {
        margin-top: 40px;
    }
    .blog-wrapper {
        margin-bottom: 40px;
    }
    #blog-area {
        padding: 80px 0px 40px 0px;
    }
    .testimonial-active {
      
        padding: 60px 60px 60px 60px;
     
    }
    .footer-contact {
     text-align: center;
        margin-bottom: 40px;
    }

    .footer-links ul {
       
        text-align: start;
    }
    .footer-links {
        width: 43%;
        margin: 0px auto 30px auto;
        text-align: center;
    }
    .footer-blog {
        width: 65%;
        margin: 30px auto 0px auto;
        text-align: center;
    }
    .copy-right .copy-content {
        text-align: center;
    }
    .copy-right .copy-list ul {
       
        justify-content: center;
    }
    .copy-right .copy-list {
        margin-top: 11px;
    }
 
}
/* extra small device  */
@media only screen and  (max-width: 575px) {
    .main-nav {
        display:none;
    }

     .slicknav_menu {
        display:block;
    }
    .nav-logo {
       
        text-align: center;
    }
    .slider-active .single-slide .single-wrapper h1 {
        line-height: 40px;
        font-size: 30px;
    }
    .single-wrapper {
        
        margin-top: 120px;
        padding: 0px 50px;
    }
    .slider-active .single-slide {
        
        height: 70vh;
    }
    .slider-active .single-slide .single-wrapper .slider-icon i {
    
        margin: 0px 5px;
     
    }
    .slider-active .single-slide .single-wrapper .btn {
 
        padding: 15px 20px;
    }
    #feathers-area {
     
        margin-top: 50px;
    }
    .feathers-inner .feathers-wrapper {
      
        padding: 40px 60px;
        border-left: none;
    
    }
  
    .border-bottom{
        border-bottom: 2px solid white;
    }
    #about-area {
        padding: 50px 0px;
    }
    .about-img img {
        width: 100%;
    }
    .about-wrapper h2 {
        line-height: 30px;
        font-size: 22px;
    }
    .about-wrapper h2::after {
        top: 60px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .about-wrapper p {
        margin-top: 25px;
    }
    .about-wrapper .btn {
     
        margin-top: 15px;
    }
    .about-wrapper {
        /* padding: 0px 25px; */
        padding: 0px;
        text-align: center;
    }
    .about-img {
        margin-top: 30px;
    }
    .about-title h2 {
        line-height: 30px;
        font-size: 22px;
    }
    .subscribe-form form {
       
        flex-direction: column;
    }
    .subscribe-form form input {
     
        width: 50%;
        margin: 13px auto;
    }
    .subscribe-form {
        margin-top: 30px;
    }
    .subscribe-form form button {
      
        margin-top: 15px;
    }
    #portfolio-area {
        padding: 80px 0px 50px 0px;
    }
    #portfolio-area .portfolio-wrapper {
        margin: 0px 20px 30px 20px;
    }
    #portfolio-area .portfolio-wrapper .btn {
   
        padding: 15px 20px;
    }
    #pricing-area {
     
        padding: 80px 0px 50px 0px;
    }
    .pricing-wrapper .pricing-inner {
       
        margin-bottom: 30px;
    }
    #counter-area {
  
        padding: 50px 0px 20px 0px;
    }
    .counter-wrapper {
       
        margin-bottom: 30px;
    }
    .team-wrapper {
        margin-top: 40px;
    }
    .blog-wrapper {
        margin-bottom: 40px;
    }
    #blog-area {
        padding: 80px 0px 40px 0px;
    }
    .blog-wrapper .card .card-body {
       
        text-align: center;
    }
    .blog-wrapper .card .card-footer {
       
        text-align: center;
    }
    .blog-wrapper .card .card-footer .btn {
        padding: 15px 20px;
    }
    #testimonial-area {
      
        padding: 30px 0px;
     
    }
    .testimonial-active {
        padding: 40px 20px 40px 20px;
    }
    .client-single {
        text-align: center;
    }
    .client-single img {
        margin: auto;
    }
   
    .footer-contact {
     text-align: center;
        margin-bottom: 40px;
    }

    .footer-links ul {
       
        text-align: start;
    }
    .footer-links {
        width: 75%;
        margin: 0px auto 30px auto;
        text-align: center;
    }
    .footer-blog {
        width: 65%;
        margin: 30px auto 0px auto;
        text-align: center;
    }
    .copy-right .copy-content {
        text-align: center;
    }
    .copy-right .copy-list ul {
       
        justify-content: center;
    }
    .copy-right .copy-list {
        margin-top: 11px;
    }

 
}
