@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
    font-family: Rubik, sans-serif;
    font-weight: normal;
    font-style: normal;
}
.img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.fix {
    overflow: hidden;
}
a,
.btn {
    transition: all 0.3s ease-out 0s;
}
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
}
.btn:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0px;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: Poppins, sans-serif;
    margin-top: 0px;
    font-style: normal;
    line-height: 1;
}
h1 {
    font-size: 72px;
    color: rgb(89, 89, 89);
    font-weight: 600;
}
h2 {
    font-size: 32px;
    font-weight: 600;
    color: rgb(64, 64, 68);
}
h3 {
    font-size: 22px;
    color: rgb(63, 63, 63);
    font-weight: 600;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
    color: rgb(89, 89, 89);
    font-family: Rubik, sans-serif;
    font-size: 15px;
    font-weight: 400;
}
p {
    font-size: 15px;
    font-weight: normal;
    line-height: 25px;
    color: rgb(52, 52, 52);
}
i {
    font-size: 18px;
}
hr {
    border-bottom: 1px solid rgb(236, 239, 248);
    border-top: 0px none;
    margin: 30px 0px;
    padding: 0px;
}
label {
    color: rgb(126, 126, 126);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}
::selection {
    background: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    text-shadow: none;
}
::placeholder {
    color: rgb(85, 85, 85);
    font-size: 14px;
    opacity: 1;
}
.theme-overlay {
    position: relative;
}
.theme-overlay::before {
    background: none 0px 0px repeat scroll rgb(22, 150, 231);
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0.6;
    position: absolute;
    top: 0px;
    width: 100%;
}
.separator {
    border-top: 1px solid rgb(242, 242, 242);
}
.btn {
    background-color: white;
    border-radius: 30px;
    border: 2px solid rgb(80, 92, 253);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0px;
    padding: 20px 50px;
    color: rgb(89, 89, 89);
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
}
.btn:hover {
    color: white;
    background-color: rgb(80, 92, 253);
}
a {
    font-size: 14px;
    color: rgb(52, 52, 52);
    line-height: 1;
    font-weight: 600;
    text-decoration: none;
}
.breadcrumb > .active {
    color: rgb(136, 136, 136);
}
.owl-carousel .owl-nav div {
    background: none 0px 0px repeat scroll rgba(255, 255, 255, 0.8);
    height: 40px;
    left: 20px;
    line-height: 40px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 40px;
}
.owl-carousel .owl-nav div.owl-next {
    left: auto;
    right: 20px;
}
.owl-carousel:hover .owl-nav div {
    opacity: 1;
    visibility: visible;
}
.owl-carousel .owl-nav div:hover {
    background: rgb(43, 150, 204);
    color: rgb(255, 255, 255);
}
#scrollUp {
    background: rgb(125, 186, 47);
    height: 35px;
    width: 35px;
    right: 50px;
    bottom: 77px;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    line-height: 34px;
}
#scrollUp:hover {
    background: rgb(68, 68, 68);
}
/* header start  */
.slicknav_menu {
    display:none;
}
#header-area{
    /* display: flex; */
    padding: 0px 22px;
    position: absolute;
    z-index: 999;
    top: auto;
    right: 0;
    left: 0;
}
.nav-logo{
    padding: 20px 0px;
}
.nav-logo a{
    /* display: flex; */
    /* display: inline-block; */
    /* padding: 20px 0px; */
}
.nav-logo a img{}
.main-nav{}
.main-nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 60px;
}
.main-nav ul li{
    margin-left: 60px;
}
.main-nav ul li a{
    padding: 30px 0px;
    display: inline-block;
}
.main-nav ul li a:hover{}
.header-search{
    padding: 10px 0px;
    text-align: end;
}
.header-search .btn{}




/* header end  */
#slider-area {
}
.slider-active {
}
.slider-active .single-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.single-wrapper {
    text-align: center;
    margin-top: 120px;
}
.slider-active .single-slide .single-wrapper .slider-icon {
}
.slider-active .single-slide .single-wrapper .slider-icon i {
    display: inline-block;
    margin: 0px 12px;
    transition: all linear .4s;
    cursor: pointer;
}
.slider-active .single-slide .single-wrapper .slider-icon i:hover{
    color: #505cfd;
}
.slider-active .single-slide .single-wrapper h1 {
    line-height: 80px;
}
.slider-active .single-slide .single-wrapper p {
}
.slider-active .single-slide .single-wrapper .btn {
    margin-top: 15px;
}

/* slider area end  */
/* feathers area start  */
#feathers-area{
    /* padding: 50px 0px; */
    /* background-color: #505cfd; */
    position: relative;
    margin-top: -20px;
}
.feathers-inner {
    
background-color: #505cfd;
    
/* padding: 0px 30px; */
    
border-radius: 10px;
}
.feathers-inner .feathers-wrapper{
    
text-align: center;
    
padding: 50px 15px;
    
/* width: 100%; */
    
border-left: 2px solid #6a74fc;
}
.feathers-inner  .feathers-wrapper:nth-child(3){
    border-right: none;
}
.feathers-inner  .feathers-wrapper i{

display: inline-block;

font-size: 30px;

color: white;
}
.feathers-inner .feathers-wrapper h3{

margin-top: 30px;

color: white;
}
.feathers-inner .feathers-wrapper p{

margin-top: 25px;

color: white;
}
/* feathers area end  */
/* about area start  */
#about-area{
    padding: 80px 0px;
}
.about-wrapper{}
.about-wrapper h2{
    line-height: 44px;
    position: relative;
}
.about-wrapper h2::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 60px;
    background-color: #505cfd;
    left: 0;
    top: 100px;
}
.about-wrapper p{
    margin-top: 35px;
}
.about-wrapper .btn{
    display: inline-block;
    margin-top: 30px;
}
.about-img {}
.about-img img{}
/* about area end */
/* subscribe area start  */
#subscribe-area{
    background: url(../img/subscribe/subscribe.jpg);
    background-position: top center;
    padding: 60px 0px;
}
.about-title{
    text-align: center;
}
.about-title h2{
    line-height: 44px;
}
.about-title p{}
.subscribe-form{
    margin-top: 50px;
}
.subscribe-form form{
    display: flex;
    justify-content: space-around;
}
.subscribe-form form input{
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    background-color: white;
    display: inline-block;
    margin-right: 10px;
}
.subscribe-form form button{
    border: none;
}
.subscribe-form form button .btn{}
/* subscribe area end */
/* portfolio area start  */
#portfolio-area{
    padding: 80px 0px;
}
#portfolio-area .about-title{}
#portfolio-area .portfolio-wrapper{
    text-align: center;
    padding: 40px 10px 40px 10px;
    /* background-color: #343434; */
    border-radius: 10px;
    transition: all linear .4s;
    box-shadow: 0px 0px 3px grey;
}
#portfolio-area .portfolio-wrapper i{
    display: inline-block;
    color: #505cfd;
    font-size: 40px;
}
#portfolio-area .portfolio-wrapper h3{
    margin-top: 20px;
}
#portfolio-area .portfolio-wrapper p{
    margin-top: 20px;
}
#portfolio-area .portfolio-wrapper .btn{
    display: inline-block;
    margin-top: 10px;
}
#portfolio-area .portfolio-wrapper:hover{
    background-color: #343434;
}
#portfolio-area .portfolio-wrapper:hover h3{
color: white;
}
#portfolio-area .portfolio-wrapper:hover p{
color: #777777;
}

#portfolio-area .portfolio-wrapper:hover .btn{
    background-color: #343434;
    color: white;
}
#portfolio-area .portfolio-wrapper .btn:hover{
    background-color: #505cfd;
}
/* portfolio area end  */

/* pricing area start  */
#pricing-area{
    background-color: #e7e8fe;
    padding: 80px 0px;
}
.pricing-wrapper{
    margin-top: 50px;
}
.pricing-wrapper .pricing-inner{
    text-align: center;
    padding: 40px 20px;
    transition: all linear .4s;
    margin: 0px 20px;
}
.pricing-wrapper .pricing-inner:hover{
    background-color: white;
    border-radius: 10px;
}
.pricing-wrapper .pricing-inner span{
    color: #505cfd;
    font-weight: 600;
    font-size: 40px;
    position: relative;
    margin-top: 25px;
    display: inline-block;
}
.pricing-wrapper .pricing-inner span::before{
    content: "\f155";
    font-family:"Font Awesome 5 free";
    font-size: 20px;
    position: absolute;
    top: -9px;
    left: -13px;
}

.pricing-wrapper .pricing-inner h3{}
.pricing-wrapper .pricing-inner ul{
    margin-top: 20px;
}
.pricing-wrapper .pricing-inner ul li{
    font-size: 15px;
    line-height: 25px;
}
.pricing-wrapper .pricing-inner .btn{
    display: inline-block;
    margin-top: 30px;
}
/* pricing area end  */

/* counter area start  */
#counter-area{
    background-color: #505cfd;
    padding: 50px 0px;
}
.counter-wrapper{
    text-align: center;
}
.counter-wrapper i{
    display: block;
    color: white;
    font-size: 32px;
}
.counter-wrapper span{
    color: white;
    display: block;
    margin-top: 20;
    font-size: 32px;
    margin-top: 20px;
}
.counter-wrapper p{
    color: white;
    margin-top: 10px;
}
/* counter area end  */
/* team area start  */
#team-des{
    overflow: hidden;
}
.team-wrapper{}
.team-wrapper .team-img{
    position: relative;
}
.team-wrapper .team-img img{
    width: 100%;
}
.team-wrapper .team-img .team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 85%;
    height: 85%;
    background-color: #ffffffd4;
    display: flex;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all linear .4s;
    transform: translateY(30px);
    transform-origin: bottom;
}
.team-wrapper .team-img:hover .team-overlay{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.team-wrapper .team-img .team-overlay i{
    display: inline-block;
    margin: 0px 7px;
    transition: all linear .4s;
    cursor: pointer;
    color: inherit;
}
.team-wrapper .team-img .team-overlay i:hover{
    color: #505cfd;
}

/* team area end */
/* blog area start  */
#blog-area{
    padding: 80px 0px;
}
.blog-inner{
    margin-top: 50px;
}
.blog-wrapper{}
.blog-wrapper .card{
    border: none;
}
.blog-wrapper .card img{}
.blog-wrapper .card .card-body{
    padding: 0px 0px;
}
.blog-wrapper .card .card-body .card-text{

margin-top: 15px;
}
.blog-wrapper .card .card-body .card-title{
    margin-top: 20px;
    line-height: 30px;
}
.blog-wrapper .card .card-body .card-subtitle{
    margin-top: 15px;
    position: relative;
    display: inline-block;
}
.blog-wrapper .card .card-body .card-subtitle::after{
   position: absolute;
   content: "";
   height: 2px;
   width: 50px;
   background-color: #343434;
   top: 0;
   /* right: -40px; */
   /* left: 63px; */
   left: 68px;
   right: 0;
   bottom: 0;
   margin: auto;
}
.blog-wrapper .card .card-footer{
    background-color: white;
    border: none;
    padding: 0px;
    margin-top: 15px;
}
.blog-wrapper .card .card-footer .btn{}
/* blog area end */
/* testimonial area start  */
#testimonial-area{
    background: url(../img/testimonial/testimonial.jpg);
    background-position: top center;
    background-size: conver;
    background-repeat: no-repeat;
    padding: 90px 0px;
    width: 100%;
}
.testimonial-active{
    text-align: center;
    padding: 60px 115px 60px 115px;
    background-color: #ffffffd9;
}
.testimonial-active .testimonial-single{}
.testimonial-active .testimonial-single h3{
    color: #505cfd;
}
.testimonial-active .testimonial-single h6{
    margin-top: 15px;
}
.testimonial-active .testimonial-single p{
    margin-top: 20px;
}
.transparent-circle {
    border: 2px solid #fff;
    height:12px;
    width:12px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
  }
.testimonial-active .slick-dots{
    margin-top: 31px;
}
.testimonial-active .slick-dots li{
    display: inline-block;
    margin: 0px 10px;
    /* height: 23px; */
    /* width: 10px; */
}
.testimonial-active .slick-dots li.slick-active button{
    background-color: #595959;
}
.testimonial-active .slick-dots li button{
    text-indent: -1376px;
    border-radius: 50%;
    background-color: white;
    height: 16px;
    width: 10px;
    /* outline: none; */
    /* border: none; */
}
/* testimonial area end  */
/* client area start  */
#client-area{
    padding: 80px 0px;
}
.client-active{
    display: flex;
    justify-content: space-around;
}
.client-single{}
.client-single .client-logo{}
.client-single .client-logo img{}

/* client area end  */
/* footer area start  */
#footer-area{
    /* padding-top: 80px; */
    background-color: #343434;
}
.footer-contact {}
.footer-contact h3{
    color: white;
}
.footer-contact ul{
    margin-top: 40px;
}
.footer-contact ul li{
    /* display: inline-block; */
    padding: 7px 0px;
    color: #777777;
}
.footer-contact .footer-area-icon{
    margin-top: 20px;
}
.footer-contact .footer-area-icon i{
    display: inline-block;
    margin-right: 15px;
    color: white;
    transition: all linear .4s;
    cursor: pointer;
}
.footer-contact .footer-area-icon i:hover{
    color: #505cfd;
}
.footer-links{}
.footer-links h3{
    color: white;
}
.footer-links ul{
    margin-top: 35px;
}
.footer-links ul li{
    position: relative;
    display: inline-block;
    width: 49%;
    padding: 8px 0px;
    color: #777777;
}
.footer-links ul li::before{
  
content: "\f155";
  
font-family:"Font Awesome 5 free";
  
position: absolute;
  
top: 0;
  
left: 0;
  
color: white;
}
.footer-blog{}
.footer-blog h3{
    color: white;
}
.footer-blog .footer-inner{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 22px; */
    margin: 44px 0px 0px  0px;
}
.footer-blog .footer-inner .footer-img{}
.footer-blog .footer-inner .footer-img img{}
.footer-blog .footer-inner .footer-content{
    /* width: 80%; */
    /* padding-right: 14px; */
}
.footer-blog .footer-inner .footer-content p{
    color: #777777;
}
.footer-blog .footer-inner .footer-content span{
    color: #777777;
}
.copy-right{
    padding: 40px 0px;
    border-top: 2px solid #777777;
}
.copy-right .copy-content{}
.copy-right .copy-content p{
    color: #777777;
}
.copy-right .copy-list{}
.copy-right .copy-list ul{
    display: flex;
    justify-content: flex-end;
}
.copy-right .copy-list ul li{
    color: #777777;
    margin-left: 33px;
    /* display: inline-block; */
}
.footer-wrap {
    padding: 70px 0px;
}

/* footer area end  */